/* Globals */
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes showreadmore {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes showreadmore {
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes showex {
  100% {
    opacity: 1;
  }
}
@keyframes showex {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes showrmbox {
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes showrmbox {
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
/* Customizer Styles */
li#accordion-section-synapse_sec_upgrade h3:before {
  content: "\f05a";
  font-family: "FontAwesome";
  font-weight: 900;
}
/* ----------------
Important Links
 -----------------*/
.synapse-important-links {
  background: #c2382b;
  padding: 15px 10px;
  color: #FFF !important;
  text-align: center;
  display: block;
  margin-top: 5px;
  line-height: 1.2;
  box-shadow: none;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .04em;
}
.synapse-important-links.synapse-pro {
  background: #345d79;
}
.synapse-important-links.synapse-pro:hover {
  background: #1d3443;
}
.synapse-important-links:hover {
  background: #83261d;
}
/*-------------
Skins
 --------------*/
.synapse-skin-list li.color-boxes {
  display: inline-block;
  background: url('../../images/');
  margin-right: 6px;
}
.customize-control-skins .custom_skin_control {
  display: none;
}
#customize-control-synapse_skins img {
  margin-bottom: 10px;
}
.customize-control-skins input[type=radio]:checked + img {
  border: 2px solid #5b9dd9;
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}
