@import "../variables";
@import "../functions";


/* Customizer Styles */
li#accordion-section-synapse_sec_upgrade h3 {
	&:before {
		content: "\f05a";
		font-family: "FontAwesome";
		font-weight: 900;
	}
}

/* ----------------
Important Links
 -----------------*/
.synapse-important-links{
	background: @accent;
	padding: 5px 10px;
	color: #FFF !important;
	text-align: center;
	display: block;
	margin-top: 5px;
	line-height: 1.2;
	box-shadow: none;
	font-style: normal;
	text-decoration: none;
}
.synapse-important-links:hover{
	background: darken(@accent, 15%);
}

/*-------------
Skins
 --------------*/
.synapse-skin-list li.color-boxes {
	display: inline-block;
    background: url('../../images/');
	margin-right: 6px;
	border: 4px solid transparent;
}

.synapse-skin-list li.skin-active {
	border: 4px solid #FFF;
}

.synapse-skin-list li:hover {
	border: 4px solid #FFF;;
}

.customize-control-skins {
	.custom_skin_control {
		display: none;
	}
}